// import font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


// ## custom variables

// text
$kumbh-sans: 'Kumbh Sans', sans-serif;
$darkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
$veryDarkGreyBlue: hsl(237, 12%, 33%);
$darkGreyBlue: hsl(240, 6%, 50%);

// gradient
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

$divider: hsl(240, 5%, 91%);

body {
    font-size: 12px;
    font-family: $kumbh-sans;
    font-weight: 400;
    color: $darkBlue;
    background: linear-gradient(180deg, $softViolet, $softBlue) no-repeat;
    background-size: cover;
    height: 100vh;
}

.content-wrap {
    width: 80%;
    margin: 2em auto;
    background-color: #fff;
    border: none;
    border-radius: 15px;
}

header {
    text-align: center;
}

.img-wrap {
    width: 100%;
    object-fit: cover;
}

.faq-wrap {
    margin: 1em;
}

// ## Accordion 

.accordion-wrap {
    margin: 1em;
}

.accordion-button {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid $divider;
    // outline: none;
    transition: 0.4s;
}


.accordion-body {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-button:after {
    content: url(./images/icon-arrow-down.svg);
    font-size: 13px;
    color: $softRed;
    float: right;
    margin-left: 5px;
}

.active:after {
    transform: rotate(180deg);
}