// default
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

// import font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// ## custom variables

// text
$kumbh-sans: 'Kumbh Sans', sans-serif;
$darkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
$veryDarkGreyBlue: hsl(237, 12%, 33%);
$darkGreyBlue: hsl(240, 6%, 50%);

// gradient
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

$divider: hsl(240, 5%, 91%);

body {
    font-size: 12px;
    font-family: $kumbh-sans;
    font-weight: 400;
}