@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: hsl(238deg, 29%, 16%);
  background: linear-gradient(180deg, hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%)) no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.pad-1 {
  padding: 1em;
}

h1 {
  font-size: 2rem;
}

.page-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: relative;
  margin-top: 3em;
  min-height: calc(100vh - 3em);
}

.content-wrap {
  position: relative;
  max-width: 350px;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 18px 42px hsla(240deg, 70%, 20%, 0.5);
  border-radius: 25px;
}

header {
  text-align: center;
  padding: 1.5em;
}

.img-wrap {
  position: absolute;
  width: 80%;
  margin: 2em 3em;
  object-fit: cover;
  z-index: 2;
  transform: translateY(-12em);
}

.img-hero {
  display: block;
  margin-bottom: 2em;
}

.img-hero-desktop,
.img-hero-box {
  display: none;
}

.img-hero-shadow {
  display: block;
  position: absolute;
  width: 100%;
  top: 10em;
}

.faq-wrap {
  width: 100%;
  overflow: hidden;
  padding: 10em 1em 2em 1em;
}

.accordion-button {
  background-color: #fff;
  cursor: pointer;
  padding: 1.5em;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion-button:hover {
  color: hsl(14deg, 88%, 65%);
}

.bold {
  font-weight: 700;
}

.accordion-body {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 100%;
}
.accordion-body p {
  padding-bottom: 1.5em;
}

.accordion-button:after {
  content: url(./images/icon-arrow-down.svg);
  font-size: 13px;
  color: hsl(14deg, 88%, 65%);
  float: right;
  margin-left: 5px;
}

hr {
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
  opacity: 0.25;
  width: 90%;
  margin: 0 auto;
}

.active:after {
  transform: rotate(180deg);
}

footer {
  text-align: center;
  font-size: 0.8rem;
  position: relative;
  color: hsl(238deg, 29%, 16%);
}
footer a {
  color: hsl(14deg, 88%, 65%);
}

@media only screen and (min-width: 1000px) {
  .page-container {
    align-items: center;
    justify-content: center;
  }
  .content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    height: auto;
    background: url(./images/bg-pattern-desktop.svg), #fff;
    background-repeat: no-repeat;
    background-position: left -425px bottom -100px;
    background-size: 750px;
  }
  .img-wrap {
    position: relative;
    width: 400px;
    margin: 0 auto;
    transform: none;
  }
  .img-hero-shadow {
    display: none;
  }
  .desktop-img-wrap {
    background: url(./images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left -85px bottom 0px;
    width: 475px;
    height: 310px;
  }
  .img-hero-desktop,
.img-hero-box {
    display: block;
  }
  .img-hero-desktop {
    width: 475px;
  }
  .img-hero-box {
    position: absolute;
    width: 150px;
    top: 125px;
    left: -100px;
    filter: drop-shadow(0px 18px 10px hsla(180deg, 70%, 20%, 0.5));
  }
  .img-hero-mobile {
    display: none;
  }
  .faq-wrap {
    transform: none;
    padding: 4em 3em 6em 1em;
  }
  header {
    text-align: left;
    padding: 1.5em;
  }
  footer {
    height: 50px;
    padding: 1em 0;
  }
}

/*# sourceMappingURL=output.css.map */
